<div class="well">
  <% if tweet.is_retweet? %>
      <%= link_to current_user.username, user_path(current_user) %> retweeted
      <br>
      
      <%= link_to "@#{tweet.origin.creator.username}", user_path(tweet.origin.creator) %>
      <span><%= tweet.origin.created_at %></span>
      <br>
      <%= auto_links(tweet.origin.body) %>
      <br>
      <%= link_to 'Reply', reply_tweet_path(tweet) %>
      <%= link_to 'Retweet', retweet_tweet_path(tweet), method: 'post' %> <%= tweet.origin.retweets_count if tweet.origin.retweets_count > 0 %>
      <br>
  <% else %>
      <%= link_to "@#{tweet.creator.username}", user_path(tweet.creator) %>
      <span><%= tweet.created_at %></span>
      <br>
      <%= auto_links(tweet.body) %>
      <br>
      <%= link_to 'Reply', reply_tweet_path(tweet) %>
      <%= link_to 'Retweet', retweet_tweet_path(tweet), method: 'post' %> <%= tweet.retweets_count if tweet.retweets_count > 0 %>
      <br>

      <% tweet.replies.each do |reply| %>
        <ul>
          <li class="reply">
          <%= link_to "@#{reply.creator.username}", user_path(reply.creator) %>
          <span><%= reply.created_at %></span>
          <br>
          <%= auto_links(reply.body) %>
          <br>
          </li>
        </ul>
      <% end %>
  <% end %>
</div>

