<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
  </ul>
  <% if logged_in? %>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Tweet', new_tweet_path %></li>
      <li><%#= link_to 'Timeline', timeline_path %> </li>
      <li><%#= link_to "Mentions (#{current_user.num_unread_mentions})", mentions_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Welcome, #{current_user.username}", root_path %></li>
      <li><%= link_to 'Log Out', logout_path %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Register', new_user_path %></li>
      <li><%= link_to 'Log In', login_path %></li>
    </ul>
  <% end %>
</div>
